<div class="text-center">
    <h1 class="display-3">YUKKKIII-API</h1>
    <p class="lead">Login Untuk Melihat Document</p>
    <a href="/users/login" class="btn btn-dark btn-lg mb-2">Login</a>
    <p class="lead">Cloning APi ini<a href="https://github.com/fawwaz37/" target="_blank">Github</a></p>
    <a href="https://github.com/fawwaz37/nodejs-restapi" target="_blank" class="btn btn-dark btn-lg mb-2">Source Code</a>
</div>
